// Color candidates //
@greenDark: #28961b;
@greenLight: #b5e51d;
@meiyellow: #FFDD81;
@meimaroon: #7e0000;
@greenKuz: #abc66a;
@beigeBajka: rgb(244,188,53);
@orangeLight: #ffce5c;

@maincolor: @beigeBajka;
@secondcolor: #000;
@bgcolor: #fff;

@logoSize: 155px;
//@logoSize: 175px;
@topMargin: 60px;
//@topMargin: 68px;
@contentMargin: 20px;


body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: @logoSize+@contentMargin; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  background-color: @bgcolor;
  color: #000;
}

@media(min-width:767px) {
  .navbar {
    height: 30px;
    margin-top: @topMargin;
    margin-bottom: @contentMargin;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

@media(min-width:992px) {
  .container {
    width: 840px;
  }
}

.navbar {
  background-color: @maincolor;
  border-color: @maincolor;
}

.navbar-brand {
  position: absolute;
  background: transparent url("../images/sskv-black-150.png") top center no-repeat;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -@topMargin+5;
  text-align: center;
  width: @logoSize;
  height: @logoSize;
}

.navbar-default .navbar-nav>li>a {
  color: @secondcolor;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: underline;
  color: @secondcolor;
}

.navbar-default .navbar-toggle {
  border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: @maincolor;
}

.navbar-default .navbar-collapse {
  border-color: @maincolor;
}

.navbar-nav li a.unilogo {
  padding: 0 10px 0 0;
}

.navbar-nav li a.meicogsci {
  padding: 10px 10px 10px 0;
}

