body {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 175px;
  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  background-color: #ffffff;
  color: #000;
}
@media (min-width: 767px) {
  .navbar {
    height: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 840px;
  }
}
.navbar {
  background-color: #f4bc35;
  border-color: #f4bc35;
}
.navbar-brand {
  position: absolute;
  background: transparent url("../images/sskv-black-150.png") top center no-repeat;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -55px;
  text-align: center;
  width: 155px;
  height: 155px;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #f4bc35;
}
.navbar-default .navbar-collapse {
  border-color: #f4bc35;
}
.navbar-nav li a.unilogo {
  padding: 0 10px 0 0;
}
.navbar-nav li a.meicogsci {
  padding: 10px 10px 10px 0;
}
